body{
  background: linear-gradient(to right, #e6d922, #e74c3c);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 100vh;
  background: #fff;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
  width: 100%;
  margin: 0 auto;
}

.imgPoster{
  width: 20%;
  height: 20%;
}
.sorry{
  color: white;
  font-size: 1em;
}
.title-container {
  background: url("https://images.unsplash.com/photo-1507750549272-e58742b1df80?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f46d65078fa593524cdd5451b32cfb62&auto=format&fit=crop&w=750&q=80")center center no-repeat ;
  background-size: cover;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  text-shadow: 2px 2px #070606;
  color: rgb(223, 155, 9) ;
}

.tracking-in-expand{
  margin-top: 65%;
  position: relative;
}
.form-container {
  background-color: #2c3e50;
  height: 100vh      !important;
  padding-top: 100px;
  padding-left: 50px;
}

.btnSearch{
background-color:  rgb(223, 155, 9) !important;
margin-top: 5%;
color: black !important;
text-align: center;

}

/* Titulo */

.scale-in-center {
margin-top: 10%;
-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.expandCol{
  width: 50%;
}
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
